* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    /* font-family: 'DynaPuff', cursive; */
    font-family: 'Oleo Script', cursive;
}
body {
    background-image: url("./Fondo-html.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
}


     /*HEADER*/

header {
    height: 12%;
    border-right: 1366px solid rgba(0, 0, 0, 0.438);
}

.conteiner-logo {
    display: flex;
    height: 85px;
    width: 247px;
    align-items: center;
    justify-content: center;
}

.conteiner-logo img {
    height: 115px;
}



      /*MAIN*/

main {
    height: 70%;
    display: flex;
    justify-content: center;
}



.contenedor-main {
    background-color: #000000d6;
    height: 650px;
    width: 455px;
    border-radius: 5px;
    padding: 7rem;
}

.h1-main {
    color: whitesmoke;
    text-align: start;
    font-size: 3.2rem;
    margin-bottom: 2.7rem;
}

.contenedor-main input {
    height: 52px;
    width: 315px;
    border: none;
    border-radius: 6px;
    padding: 2rem;
    font-size: 1.7rem;
    background-color: #333;
    margin-bottom: 2rem;
}


.boton-main {
    font-size: 2rem;
    height: 52px;
    width: 315px;
    background-color: #e50914;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    color: white;
}
.boton-main:hover {
    cursor: pointer;
}

